<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Dashboard</title>
    <!-- Custom CSS -->
    <link href="assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">

    <style>
        .switch input {
            display: none;
        }

        .switch {
            border-bottom: 20px;
            display: inline-block;
            align-content: center;
            width: 50px;
            height: 20px;
            margin: 8px;
            transform: translateY(50%);
            position: relative;
        }

        .slider {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 50px;
            box-shadow: 0 0 0 2px #777, 0 0 4px #777;
            cursor: pointer;
            border: 4px solid transparent;
            overflow: hidden;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: #777;
            border-radius: 5px;
            transform: translateX(-30px);
            transition: .4s;
        }

        input:checked+.slider:before {
            transform: translateX(30px);
            background: limeGreen;
        }

        input:checked+.slider {
            box-shadow: 0 0 0 2px limeGreen, 0 0 2px limeGreen;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">

        /*<![CDATA[*/
          
           var temp_data = /*[[${temp_data}]]*/;
           var graph_data = [];

           temp_data.forEach(function(item, index) {
               graph_data.push({x: new Date(item["date"]), y: item["value"]});
           });


           console.log(graph_data);

           window.onload = function () {
                startTime();
                var chart = new CanvasJS.Chart("chartContainer",
                {
                axisX:{
                    title: "timeline",
                },
                axisY: {
                    title: "values"
                },
                data: [
                {        
                    type: "line",
                    dataPoints: graph_data
                }
                ]
            });

                chart.render();
            }
  
         /*]]>*/
  </script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>


<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
        data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" data-logobg="skin5" style="background-color:white; ">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <div class="navbar-brand">
                        <a th:href="@{/dashboard}" class="logo">
                            <h4 style="color:black">Dashboard</h4>
                        </a>
                    </div>
                    <div class="navbar-brand">
                        <a th:href="@{/index}" class="logo">
                            <h4 style="color:black">Logout</h4>
                        </a>
                    </div>

                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item search-box">
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="assets/images/users/1.jpg" alt="user" class="rounded-circle"
                                    width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                                    Inbox</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard.html"
                                aria-expanded="false">
                                <i class="mdi mdi-av-timer"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="pages-profile.html"
                                aria-expanded="false">
                                <i class="mdi mdi-account-network"></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex align-items-center justify-content-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <!-- column -->
                    <div class="col-1">
                    <script>
                        function startTime() {
                          var today = new Date();
                          var h = today.getHours();
                          var m = today.getMinutes();
                          var s = today.getSeconds();
                          m = checkTime(m);
                          s = checkTime(s);
                          document.getElementById('txt').innerHTML =
                          h + ":" + m + ":" + s;
                          var t = setTimeout(startTime, 500);
                        }
                        function checkTime(i) {
                          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                          return i;
                        }
                        </script>
                        <body>

                        <div id="txt"></div>
                    </div>
                    <div class="col-3">
                        <div class=row>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Temperature</h4>
                                    <div class="d-flex align-items-center flex-row m-t-30">
                                        <div class="display-5 text-info"><i class="wi wi-day-showers"></i>
                                            <span><span id="location_temp"></span><sup>°</sup></span>
                                        </div>
                                        <script>
                                            link = "http://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1010500.json";
                                            var request = new XMLHttpRequest();
                                            request.open('GET',link,true);
                                            request.onload = function(){
                                                var obj = JSON.parse(this.response);
                                                if (request.status >= 200 && request.status < 400) {
                                                    var daily_values = obj['data'][0];
                                                    var t_min = parseInt(daily_values['tMin']);
                                                    var t_max = parseInt(daily_values['tMax']);
                                                    var t_med = (t_max+t_min)/2;
                                                    document.getElementById("location_temp").innerHTML = t_med;
                                                }
                                                    else{
                                                    console.log("The city doesn't exist! Kindly check");
                                                }
                                            }
                                        request.send();
                                        </script>

                                        <div class="m-l-10">
                                            <h3 class="m-b-0">
                                            <span id="day_week"></span>
                                            <script>
                                                var span_dayweek = document.getElementById("day_week");
                                                span_dayweek.innerHTML = new Date().toLocaleString('en-us', {  weekday: 'long' });
                                            </script>
                                            </h3><small>Aveiro, Portugal</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card col-12">
                                <div class="card-body">
                                    <h4 class="card-title">Humidity Guide</h4>

                                    <table class="table no-border mini-table">

                                        <tbody>
                                            <tr th:each="hum:${sensor_log_hum}">
                                                <td class="text-muted">Humidity</td>
                                                <td class="font-medium" th:text="${hum.value}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div id="earnings"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CHUVA -->
                        <div class="row">
                            <div class="card col-12">
                                <div class="card-body">
                                    <h4 class="card-title">Rain Sensor</h4>
                                    <table class="table no-border mini-table">
                                        <tbody>
                                            <tr>
                                                <td class="font-medium"><span id="rain_value">   </span></td>
                                            </tr>
                                        <script th:inline="javascript">
                                            /*<![CDATA[*/
                                            var sensor_log_rain = [[${sensor_log_rain}]][0]['value'];
                                            console.log('rain sensor', sensor_log_rain, typeof(sensor_log_rain))
                                            var sensor_rain_info = document.getElementById("rain_value");
                                            if (sensor_log_rain == 1){
                                                console.log('entrei1');
                                                sensor_rain_info.innerHTML = 'RAINING'
                                                sensor_rain_info.className = "label label-danger label-rounded";
                                            } else if (sensor_log_rain == 0){
                                                console.log('entrei0');
                                                sensor_rain_info.innerHTML = ':)'
                                                sensor_rain_info.className = "label label-success label-rounded";
                                            } else {
                                                sensor_rain_info.innerHTML = 'ERROR'
                                                sensor_rain_info.className = "label label-danger label-rounded";                                                
                                            }
                                            /*]]>*/
                                        </script>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- column -->
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Status</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">NAME</th>
                                            <th class="border-top-0">STATUS</th>
                                            <th class="border-top-0"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td class="txt-oflo"> <i class=" mdi mdi-glassdoor"></i> Front Door</td>
                                            <td><span class="label label-success label-rounded" id="door_status">OPEN</span> </td>
                                            <td></td>
                                        </tr>
                                        <script th:inline="javascript">
                                            /*<![CDATA[*/
                                            var sensor_log_door = [[${sensor_log_door}]][0]['value'];
                                            var sensor_door_info = document.getElementById("door_status");
                                            if (sensor_log_door == 1){
                                                sensor_door_info.innerHTML = 'OPEN'
                                                sensor_door_info.className = "label label-success label-rounded";
                                            } else if (sensor_log_door == 0){
                                                sensor_door_info.innerHTML = 'CLOSED'
                                                sensor_door_info.className = "label label-danger label-rounded";
                                            }
                                            /*]]>*/                                                                                                                                         
                                        </script>

                                        </tr>
                                        <tr th:each="lights: ${sensor_log_light}">

                                            <td class="txt-oflo"><i class=" mdi mdi-lightbulb-outline" id="light_bulb_icon"></i> Ligts</td>
                                            <td><span class="label label-success label-rounded" id="light_status">OFF</span></td>

                                            <td>
                                                <!--
                                                <form th:action="@{/logs_light}" method="post">
                                                <div style="vertical-align:top;" >
                                                    <label class="switch">
                                                        <input type="checkbox" id="light_slider" onclick="change_lights()"name="value" th:value="*{value}">
                                                        <span class="slider" ></span>
                                                    </label>
                                                </div>
                                                <button type="submit">Fuck this shit</button>
                                                </form>
                                                -->
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- FIRE -->
                        <div class="row" style="height:auto; padding:1em">
                            <div class="card col-12" id="back_color_flame" style="background-color:blue;color:white" th:each="fire:${sensor_log_flame}">
                                <div class="card-body">
                                    <h4 class="card-title">Fire</h4>
                                    <span><i style="font-size:20px;vertical-align:center;"
                                            class=" mdi mdi-fire" ></i><strong style="font-size:20px;" id="flame_text">There are no signs of fire!</strong></span>
                                </div>
                            </div>
                        </div>
                        <!-- FIRE -->
                        <div class="row" style="height:auto; padding:1em">
                            <div class="card col-12" id="back_color_gas" style="background-color:blue;color:white" th:each="gas:${sensor_log_gas}">
                                <div class="card-body">
                                    <h4 class="card-title">Gas</h4>
                                    <span><i style="font-size:20px;vertical-align:center;"
                                             class=" far fa-exclamation-triangle"  ></i><strong style="font-size:20px;" id="gas_text">There are no signs of gas leaks!</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body" th:each="temp: ${sensor_log_temp}">
                                <h4 class="card-title"><strong>House Temperature</strong></h4>
                                <div><h5 th:text="${temp.value}" id="temp_text"></h5></div>
                            </div>

                        </div>
                        <div class="card">
                            <div class="card-body" th:each="hum: ${sensor_log_hum}">
                                <h4 class="card-title"><strong>House Humidity</strong></h4>
                                <div><h5 th:text="${hum.value}" id="hum_text"></h5></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div clas="row" style="height:200px"></div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Temperature Ratio</h4>
                                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var temp = document.getElementById("temp_text");
            var celsius = document.createTextNode(" ºC");
            temp.appendChild(celsius);

            // -------------------------------------------

            var hum = document.getElementById("hum_text");
            var per = document.createTextNode(" %");
            hum.appendChild(per);

            // -------------------------------------------

            var light_value = /*[[${sensor_log_light}]]*/;
            if (light_value[0]["value"] == 1) {
                document.getElementById("light_bulb_icon").classList.remove("mdi-lightbulb-outline");
                document.getElementById("light_bulb_icon").classList.add("mdi-lightbulb-on");
                document.getElementById("light_status").innerHTML = "ON" ;
                document.getElementById("light_status").classList.remove("label-success");
                document.getElementById("light_status").classList.add("label-danger");
                //document.getElementById("light_slider").checked=true;
            }else{
                document.getElementById("light_bulb_icon").classList.remove("mdi-lightbulb-on");
                document.getElementById("light_bulb_icon").classList.add("mdi-lightbulb-outline");
                document.getElementById("light_status").innerHTML = "OFF" ;
                document.getElementById("light_status").classList.remove("label-danger");
                document.getElementById("light_status").classList.add("label-success");
                //document.getElementById("light_slider").checked=false;
            };

            function change_lights() {
                var slider_value = document.getElementById("light_slider").checked;
                if (slider_value) {
                    document.getElementById("light_slider").value = 345;
                }else{
                    document.getElementById("light_slider").value = 23;
                }
            };

            // ------------------------------------

            var flame_value = /*[[${sensor_log_flame}]]*/;
            if (flame_value[0]["value"] == 1) {
                document.getElementById("back_color_flame").style.backgroundColor = "red";
                document.getElementById("flame_text").textContent = "House is on fire!" ;
            }else{
                document.getElementById("back_color_flame").style.backgroundColor = "blue";
                document.getElementById("flame_text").textContent = "There are no signs of fire!" ;
            };

            // ------------------------------------

            var gas_value = /*[[${sensor_log_gas}]]*/;
            if (gas_value[0]["value"] == 1) {
                document.getElementById("back_color_gas").style.backgroundColor = "red";
                document.getElementById("gas_text").textContent = "A gas leak was detected!" ;
            }else{
                document.getElementById("back_color_gas").style.backgroundColor = "blue";
                document.getElementById("gas_text").textContent = "There are no signs of gas leaks!" ;
            };

        /*]]>*/
    </script>
    </div>


    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="asse ts/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="dist/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>