<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/logos/nice-favicon.png">
    <title>PocketHome</title>
    <!-- Custom CSS -->
    <link href="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/dist/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Main wrapper -->
<!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->
        <header class="py-3 bg-white">
            <div class="container">
                <!-- Start Header -->
                <div class="header">
                    <nav class="navbar navbar-expand-md navbar-light px-0">
                        <a class="navbar-brand" href="#">
                            <img src="../assets/images/home.png" alt="logo" height="36px" width="36px">
                            <div class="navbar-brand">
                                <a th:href="@{/index}" class="logo">
                                    <h4 style="color:black">PocketHome</h4>
                                </a>
                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a th:href="@{/login}" class="btn btn-custom btn-info btn-lg">Login</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- End Header -->
            </div>
        </header>
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Page wrapper part -->
        <!-- ============================================================== -->
        <div class="content-wrapper">
            <!-- ============================================================== -->
            <!-- Demos part -->
            <!-- ============================================================== -->
            <section class="spacer bg-light">
                <div class="container">
                    <div class="row justify-content-md-center pt-5">
                        <div class="col-md-9 text-center">
                            <h2 class="text-dark">Welcome to <span class="border-bottom border-dark"> PocketHome</span>, a professional solution for your home surveillance needs.</h2>
                        </div>
                    </div>
                    <div class="row py-5">
                        <!-- ============================================================== -->
                        <!-- Lite Demo -->
                        <!-- ============================================================== -->
                        <div class="col-md-12">
                            <div class="card p-2 mr-1">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h2 class="text-dark font-weight-medium">What We can do for You:</h2>
                                        <h4 class="text-success">Starting at 3€ a month</h4>
                                    </div>
                                    <div class="live-box text-center mt-4">
                                        <img class="img-fluid" src="../assets/images/dashboard.png" alt="Lite version">
                                    </div>
                                    <p class="text-muted mt-5 line-h33 font-16">PocketHome consists in a  web browser page that allows you to monitor your house security and air conditions from anywhere, anytime.</p>
                                    <div class="row text-muted  mt-4">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled listing">
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">Lifetime Warranty</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">Wireless Equipment</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">Multiroom Systems</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">Locking Systems</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">24H Conecction to Central</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">Emergency Protocols</li>
                                                <li class="text-dark"><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/dark-circle.jpg" class="img-fluid mr-2">24H Vigilant Service</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list-unstyled listing">
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">Access Control</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">Humidity and Temperature Sensors</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">Integrated System</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg" class="img-fluid mr-2">Knock Sensors and Much more</li>
                                                <li class="text-dark "><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/dark-circle.jpg" class="img-fluid mr-2">30-day Money-back Guarantee</li>
                                                <li class="text-dark"><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/dark-circle.jpg" class="img-fluid mr-2">Free Instalation Service</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- ============================================================== -->
        <!-- End page wrapperHeader part -->
        <!-- ============================================================== -->
        <footer class="text-center p-4"> All Rights Reserved by PocketHome. Designed and Developed by <a href="https://github.com/tomas99batista/PocketHome">Group 8 of the IES class of 2019/20</a>.</footer>
    </div>
</body>
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/popper.js/dist/umd/popper.min.js"></script>
<script src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>

</html>
